body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  
}

.game {
  border-radius: 15px;
  width: 1000px;
  height: 450px; 
  border: 1px solid;
  border-bottom: 10px solid green;
  margin: auto;
 background: rgb(181, 252, 252);

}

#panda {
  width: 80px;
  height: 90px;
  background-image: url(img/panda.png);
  background-size: 80px 90px;
  position: relative;
  top: 360px;
  left: 60px;
}

#bamboo {
  width: 55px;
  height: 90px;
  background-image: url(img/bamboo.png);
  background-size: cover;
  position: relative;
  top: 275px;
  left: 970px;
  animation: bambooMov 2s infinite linear;
}

@keyframes bambooMov {
  0% {
    left: 1000px;
  }
  100% {
    left: -40px;
  }
}



.swing{
  animation: swing 1s infinite linear;
  
}

@keyframes swing {
  0% {
    transform: rotate(-5deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(0deg);
  }
 
  100% {
    transform: rotate(-5deg);
  }
}

.jump {
  animation: swing 1s infinite linear, jumping 0.5s linear;
}

@keyframes jumping {
  0% {
    top: 360px;
  }

  50% {
    top: 150px;
  }

  100% {
    top: 360px;
  }
}

.modal {
  background-color: #fff;
  border-radius: 15px;
  color: darkgreen;
  box-shadow: 0 10px 20px darkgreen;
  text-transform: uppercase;
  text-align: center;
  width: 40%;
  height: auto;
  padding: 20px;
  margin: auto;
}